{% extends "view/base.html" %}
{% block content %}
<div class="content">
    <a class="text-blue border border-black rounded-full px-8 py-1 inline-block" href="https://qun.qq.com/universal-share/share?ac=1&authKey=9bZDfa6rOEV6F91dI5PMSWvprlddIS5LurpgsSY6enYUSB5cw90yq0eQo%2FOQEyEK&busi_data=eyJncm91cENvZGUiOiIxMDgxNjEwMjEwIiwidG9rZW4iOiJxWFpqVDVDR0RnbUNLbW0weEFKTVpsc25vOS9ZZWJ6ZTlhdmRvNWNCTDhyQm12SkFJOTBMeWIwaEtqdEE4a0EvIiwidWluIjoiMTkzMDk2OTMyOSJ9&data=bkTAIUwYsCVawdBAVFf_CHuPzAVmKFh9RRtLa3oQ2Bk6mt2a6P_UrBORzwOcz4CvYeKCjUXsrrqxSelcYAw25Q&svctype=4&tempid=h5_group_info">QQ群</a>

</div>
{% endblock %}