__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
.env
media
.idea
static
.git
.python-version
uv.lock
venv
*.sqlite3
.env.local
.env.*.local
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
ENV/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
*.db
docker-compose.override.yaml
pyproject.toml